// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-black: #000000;
$color-grey: #333333;
$color-white: #ffffff;
$color-yellow: #ffe200;
$color-blue : #0154a3;
$color-red : #ff0000;
$color-black: #000000;
$color-grey: #333333;
$color-light-grey: #a5a5a5;
$color-light-grey-1: #f9f9f9;
$color-light-grey-2: #DDDDDD;
$color-orange : #ff7f00;
$color-Spray:#73edcc;
$color-green:#33B971;

$color-menu-top: #5a5a5a;
$form-field-margin-bottom: .6rem;
